<div class="u-flex u-justifyCenter">
  <div class="Modal-inner u-flex u-justifyCenter">
    <div class="Modal-icon">
      <!-- review with jose -->
      <div class="Dialog-headerIcon Dialog-headerIcon--<%- positiveOrNegativeStr %>">
        <i class="CDB-IconFont <%- areLocked ? 'CDB-IconFont-unlock' : 'CDB-IconFont-lock' %>"></i>
        <% if (itemsCount > 1) { %>
          <span class="Badge Badge--<%- positiveOrNegativeStr %> Dialog-headerIconBadge CDB-Text CDB-Size-small "><%- itemsCount %></span>
        <% } %>
      </div>

      <svg width="24px" height="25px" viewbox="521 436 24 25" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <path d="M524.5,440 L540.5,440 L540.5,460 L524.5,460 L524.5,440 Z M528.5,437 L536.5,437 L536.5,440 L528.5,440 L528.5,437 Z M522,440 L544,440 L522,440 Z M528.5,443.5 L528.5,455.5 L528.5,443.5 Z M532.5,443.5 L532.5,455.5 L532.5,443.5 Z M536.5,443.5 L536.5,455.5 L536.5,443.5 Z" id="Shape" stroke="#F19243" stroke-width="1" fill="none"/>
      </svg>
    </div>
    <div>
      <h2 class=" CDB-Text CDB-Size-huge is-light u-bSpace--m u-alertTextColor">
        You are about to <%- lockOrUnlockStr %> <%- itemsCount %> <%- contentTypePluralized %>.
      </h2>
      <p class="CDB-Text CDB-Size-medium u-altTextColor">
        <% if (areLocked) { %>
          Unlocking <%- thisOrTheseStr %> <%- contentTypePluralized %> will show <%- itOrThemStr %> on the dashboard again.
        <% } else { %>
          Locking <%- thisOrTheseStr %> <%- contentTypePluralized %> will hide <%- itOrThemStr %> from the dashboard. Reveal <%- itOrThemStr %> using the header menu or the bottom link.
        <% } %>
      </p>
      <ul class="Modal-listActions u-flex u-alignCenter">
        <li class="Modal-listActionsitem">
          <button class="CDB-Button CDB-Button--secondary CDB-Button--big cancel">
            <span class="CDB-Button-Text CDB-Text is-semibold CDB-Size-medium u-upperCase">
              Cancel
            </span>
          </button>
        </li>
        <li class="Modal-listActionsitem">
          <button class="js-ok CDB-Button CDB-Button--primary CDB-Button--big">
            <span class="CDB-Button-Text CDB-Text is-semibold CDB-Size-medium u-upperCase">
              Ok, <%- lockOrUnlockStr %>
            </span>
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
